body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: black;
  background-image: url(rps-img.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: drop-shadow(6px 6px 8px black);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: 50px;
}

#container {
  padding: 2rem;
}

button {
  width: 150px;
  height: 50px;
}

.rock {
  background-color: red;
  color: white;
  font-size: 20px;
}
.paper {
  background-color: blue;
  color: white;
  font-size: 20px;
}
.scissors {
  background-color: orange;
  color: white;
  font-size: 20px;
}
